{% extends "layout.html" %}

{% block body %}

    <h2>Dine notater</h2>
    <ul>
        {% for header in headers %}
            <li>{{ header[0] }}</li>
        {% endfor %}
    </ul>

    <div>
        <form action="/" class="max-w-sm mx-auto" method="post">
            <input autocomplete="off" autofocus name="header" placeholder="Header" type="text">
            <textarea name="notat" placeholder="Write your note here..." rows="4" cols="50"></textarea>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Lagre</button>
        </form>
    </div>

{% endblock %}